{% extends 'base.html.twig' %}


{% block body %}

    <div>    
        <p>Retour confirmé</p>
        <a href="{{ path ('mpc_listeEmprunt') }}">revenir à la liste des emprunts</a>       
    </div>

{% endblock %}