{% extends 'base.html.twig' %}


{% block body %}

    <div>    
        <p>réservation confirmée</p>
        <p><a href ="{{ path ('mpc_userListeReservations') }}">Retour aux réservations</a></p>
    </div>

{% endblock %}