<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
    <head>
        <title>Pleyber-Christ : Médiathèque</title>          
        <link href="http://www.pleyber-christ.fr/css/structure_www.css" rel="stylesheet" type="text/css">
        <SCRIPT LANGUAGE="javascript" SRC="http://www.pleyber-christ.fr/includus/js/www.js" type="text/javascript"></SCRIPT>
    </head>

    <body>

        <table width="778" border="0" align="center" cellpadding="0" cellspacing="0">

            <div><a href="http://www.pleyber-christ.fr"><img src="http://www.pleyber-christ.fr/medias/images/www/structure/contenu_logo_pleyber.gif" alt="Pleyber-Christ  - Logo"/></a> 
                <img src="http://www.pleyber-christ.fr/medias/images/www/structure/contenu_1_q60.jpg" alt="" width="134" height="136" />
                <img src="http://www.pleyber-christ.fr/medias/images/www/structure/contenu_2_q60.jpg" alt="Mairie" width="415" height="136" />		
                <div>		
	  
                    <div>
                        <ul>
                            <li>Cadre de vie</li>
                            <li>Vie municipale</li>
                            <li>Vie locale et sociale</li>
                            <li>Vie associative et culturelle</li>
                            <li>Liens</li>
                            <li>Economie</li>
                        </ul>
                    </div>
                    <tr> 
                        <div><tr>
                                    <td valign="bottom"><span class="menu_n1">&nbsp;&nbsp;<a href="http://www.pleyber-christ.fr/fr/cadre-de-vie.php"><span class="menu_n1">Cadre de vie</span></a>&nbsp;&nbsp;</span></td>
                                    <td valign="bottom"><span class="menu_n1">&nbsp;&nbsp;<a href="http://www.pleyber-christ.fr/fr/information-mairie.php"><span class="menu_n1">Vie municipale</span></a>&nbsp;&nbsp;</span></td>
                                    <td valign="bottom"><span class="menu_n1">&nbsp;&nbsp;<a href="http://www.pleyber-christ.fr/fr/vie-locale-et-sociale.php"><span class="menu_n1">Vie locale et sociale</span></a>&nbsp;&nbsp;</span></td>
                                    <td valign="bottom"><span class="menu_n1">&nbsp;&nbsp;<a href="http://www.pleyber-christ.fr/fr/vie-associative.php"><span class="menu_n1_on">Vie associative et culturelle</span></a>&nbsp;&nbsp;</span></td>
                                    <td valign="bottom"><span class="menu_n1">&nbsp;&nbsp;<a href="http://www.pleyber-christ.fr/fr/liens-utiles.php"><span class="menu_n1">Liens</span></a>&nbsp;&nbsp;</span></td>
                                    <td valign="bottom"><span class="menu_n1">&nbsp;&nbsp;<a href="http://www.pleyber-christ.fr/fr/economie.php"><span class="menu_n1">Economie</span></a>&nbsp;&nbsp;</span></td>
                                    <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td></tr></table>
                        </td>	  
                        <td width="10"></td>		
                    </tr>	 
                    <tr> 
                        <td colspan="2" background="http://www.pleyber-christ.fr/medias/images/www/structure/contenu_3.gif"></td>	 
                        <td><img src="http://www.pleyber-christ.fr/medias/images/www/structure/t.gif" width="5" height="5" /></td> 
                        <td width="10"></td>		
                    </tr>	
                    <tr> 
                        <td height="24" colspan="4">&nbsp;</td>		
                    </tr>	  
                    </table>	


                    <table width="778" border="0" cellspacing="0" cellpadding="0" align="center">
                        <tr>
                            <td width="213" valign="top">
                                <table width="213" border="0" cellspacing="0" cellpadding="0" class="tableau_rub_col_gauche">	  
                                    <tr>
                                        <td width="22" class="col_gauche_n1">&nbsp;</td>
                                        <td width="15" class="col_gauche_n1">&nbsp;</td>
                                        <td height="20" width="169"  class="col_gauche_n1">Vie associative et culturelle</td>	  
                                        <td width="7" class="col_gauche_n1">&nbsp;</td>
                                    </tr>	
                                    <tr>
                                        <td colspan="4" bgcolor="#FFFFFF" ><table width="210" height="30" border="0" cellpadding="0"  cellspacing="0"  class="menu_n2">
                                                <tr>
                                                    <td width="22"></td>
                                                    <td width="15">-</td>
                                                    <td width="166" height="20">Vie associative</td>
                                                    <td width="7"></td>
                                                </tr></table>
                                            <table width="210" height="20" border="0" cellpadding="0"  cellspacing="0"  class="menu_n2_on" bgcolor="#FFFFFF">
                                                <tr>
                                                    <td width="22" class="col_gauche_n2_on"></td>
                                                    <td width="15" class="col_gauche_n2_on">-</td>
                                                    <td width="166"  class="col_gauche_n2_on">Vie culturelle</td>
                                                    <td width="7" class="col_gauche_n2_on"></td>
                                                </tr>
                                            </table>
                                            <table width="210" height="20" border="0" cellpadding="0"  cellspacing="0"  bgcolor="#FFFFFF"><tr>
                                                    <td width="40" class="col_gauche_n2_on"></td>
                                                    <td width="15" class="col_gauche_n2_on">-</td>
                                                    <td width="148" class="col_gauche_n2_on"><a href="http://www.pleyber-christ.fr/fr/mediatheque.php" class="page_on"><span class="page_on">Médiathèque</span></a></td>
                                                    <td width="7" class="col_gauche_n2_on"></td>
                                                </tr>
                                                <tr>
                                                    <td width="40"></td>
                                                    <td width="15">-</td>
                                                    <td width="148"><a href="http://www.pleyber-christ.fr/fr/cybercommune.php" class="page">Cybercommune</a></td>
                                                    <td width="7"></td>
                                                </tr>
                                                <tr>
                                                    <td width="40"></td>
                                                    <td width="15">-</td>
                                                    <td width="148"><a href="http://www.pleyber-christ.fr/fr/salle-d-exposition-point-i.php" class="page">Salle d'exposition Point I</a></td>
                                                    <td width="7"></td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                    <tr>	
                                        <td colspan="4"><br /><br /></td>	   
                                    </tr>	 
                                    <tr>	
                                        <td colspan="4" background="http://www.pleyber-christ.fr/medias/images/www/structure/contenu_9.gif"><img src="http://www.pleyber-christ.fr/medias/images/www/structure/t.gif" width="1" height="1" /></td>	   
                                    </tr>	 
                                </table>
                                <table width="213" border="0" cellpadding="0" cellspacing="0" bgcolor="#EDEEEF" class="tableau_rub_col_gauche">	 
                                    <tr> 
                                        <td width="22">&nbsp;</td>	  
                                        <td width="25">&nbsp;</td>	
                                        <td>&nbsp;</td>	   
                                    </tr>  
                                    <tr> 
                                        <td width="22" height="30">&nbsp;</td> 
                                        <td width="25"><a href="http://www.pleyber-christ.fr/plan_du_site/index.php"><img src="http://www.pleyber-christ.fr/medias/images/www/structure/picto_fleche.gif" alt="Plan du site" width="14" height="11" border="0" /></a></td>	 
                                        <td height="20"><a href="http://www.pleyber-christ.fr/plan_du_site/index.php"  class="outils">Plan du site </a></td>	  
                                    </tr>  
                                    <tr>   
                                        <td width="22" height="30">&nbsp;</td> 
                                        <td width="25" height="20"><img src="http://www.pleyber-christ.fr/medias/images/www/structure/picto_rechercher.gif" alt="Rechercher" width="10" height="11" /></td>	 
                                        <td height="20"><table width="166" border="0" cellpadding="0" cellspacing="0" class="outils">  
                                                <form action="http://www.pleyber-christ.fr/recherche/resultat.php" method="get" name="form1" id="form1">	 
                                                    <tr>	
                                                        <td width="75">Rechercher</td> 
                                                        <td width="71"><input name="f_recherche" type="text" class="champ" value="Votre mot" size="11" maxlength="50" /></td>	   
                                                        <td width="20"><input type="image" src="http://www.pleyber-christ.fr/medias/images/www/structure/outils_btn.gif" name="Submit" value="Envoyer" /></td>	
                                                    </tr>
                                                </form>
                                            </table></td>
                                    </tr>	 
                                    <tr> 
                                        <td width="22" height="30">&nbsp;</td>	
                                        <td width="25" height="20"><img src="http://www.pleyber-christ.fr/medias/images/www/structure/picto_newsletter.gif" alt="Newsletter" width="9" height="11" /></td>  
                                        <td height="20"><table width="166" border="0" cellpadding="0" cellspacing="0" class="outils">  
                                                <form action="http://www.pleyber-christ.fr/newsletter/newsletter_action.php" method="post" name="form1" id="form1">	
                                                    <tr>	
                                                        <td width="75">Newsletter</td>	  
                                                        <td width="71"><input name="f_donnee1" type="text" class="champ" value="Votre mail" size="11" maxlength="250" /></td>		   
                                                        <td width="20">	
                                                            <input type="hidden" name="f_donnee2" value="5" />	
                                                            <input type="image" src="http://www.pleyber-christ.fr/medias/images/www/structure/outils_btn.gif" name="Submit2" value="Envoyer" />		 
                                                        </td>	 
                                                    </tr>	   
                                                </form>		  
                                            </table></td>	  
                                    </tr>	 
                                    <tr>   
                                        <td width="22">&nbsp;</td>	 
                                        <td width="25">&nbsp;</td>	 
                                        <td>&nbsp;</td>	  
                                    </tr>	
                                </table>  
                                <div align="center"><table  class="calendrier_en_tete"><tr><td><br><table class="calendrier_en_tete2" >
                                                    <tr>
                                                        <td colspan="7" align="center">DéCEMBRE 2016
                                                        </td>
                                                    <tr>
                                                    <tr class="calendrier_jour">
                                                        <td>L</td>
                                                        <td>M</td>
                                                        <td>M</td>
                                                        <td>J</td>
                                                        <td>V</td>
                                                        <td>S</td>
                                                        <td>D</td>
                                                    </tr>
                                                </table><br>
                                                <table width="169" cellspacing="0" cellpading="0" border="0" id="bloc_agenda" class="calendrier">
                                                    <tr> 
                                                        <td width="1" class="texte">|</td>       <td width="15" height="15" align="center">&nbsp;</td>
                                                        <td width="1" class="texte">|</td>       <td width="15" height="15" align="center">&nbsp;</td>
                                                        <td width="1" class="texte">|</td>       <td width="15" height="15" align="center">&nbsp;</td>
                                                        <td width="1" class="texte">|</td>       <td  width="17" height="15"   align="center"><span class="texte-orange" >1</span></td>
                                                        <td width="1" class="texte">|</td>       <td  width="17" height="15"   align="center"><span class="texte-orange" >2</span></td>
                                                        <td width="1" class="texte">|</td>       <td  width="17" height="15"   align="center"><span class="texte-orange" >3</span></td>
                                                        <td width="1" class="texte">|</td>       <td  width="17" height="15"   align="center"><span class="texte-orange" >4</span></td>
                                                        <td width="1" class="texte">|</td></tr>
                                                    <tr height="1"></tr><tr>
                                                        <td width="1" class="texte">|</td>       <td  width="17" height="15"   align="center"><span class="texte-orange" >5</span></td>
                                                        <td width="1" class="texte">|</td>       <td  width="17" height="15"   align="center"><span class="texte-orange" >6</span></td>
                                                        <td width="1" class="texte">|</td>       <td  width="17" height="15"   align="center"><span class="texte-orange" >7</span></td>
                                                        <td width="1" class="texte">|</td>       <td  width="17" height="15"   align="center"><span class="texte-orange" >8</span></td>
                                                        <td width="1" class="texte">|</td>       <td  width="17" height="15"   align="center"><span class="texte-orange" >9</span></td>
                                                        <td width="1" class="texte">|</td>       <td  width="17" height="15"   align="center"><span class="texte-orange" >10</span></td>
                                                        <td width="1" class="texte">|</td>       <td  width="17" height="15"   align="center"><span class="texte-orange" >11</span></td>
                                                        <td width="1" class="texte">|</td></tr>
                                                    <tr height="1"></tr><tr>
                                                        <td width="1" class="texte">|</td>       <td  width="17" height="15"   align="center"><span class="texte-orange" >12</span></td>
                                                        <td width="1" class="texte">|</td>       <td  width="17" height="15"   align="center"><span class="texte-orange"><strong>13</strong></span></td>
                                                        <td width="1" class="texte">|</td>       <td  width="17" height="15"   align="center"><span class="texte-orange" >14</span></td>
                                                        <td width="1" class="texte">|</td>       <td  width="17" height="15"   align="center"><span class="texte-orange" >15</span></td>
                                                        <td width="1" class="texte">|</td>       <td  width="17" height="15"   align="center"><span class="texte-orange" >16</span></td>
                                                        <td width="1" class="texte">|</td>       <td  width="17" height="15"   align="center"><span class="texte-orange" >17</span></td>
                                                        <td width="1" class="texte">|</td>       <td  width="17" height="15"   align="center"><span class="texte-orange" >18</span></td>
                                                        <td width="1" class="texte">|</td></tr>
                                                    <tr height="1"></tr><tr>
                                                        <td width="1" class="texte">|</td>       <td  width="17" height="15"   align="center"><span class="texte-orange" >19</span></td>
                                                        <td width="1" class="texte">|</td>       <td  width="17" height="15"   align="center"><span class="texte-orange" >20</span></td>
                                                        <td width="1" class="texte">|</td>       <td  width="17" height="15"   align="center"><span class="texte-orange" >21</span></td>
                                                        <td width="1" class="texte">|</td>       <td  width="17" height="15"   align="center"><span class="texte-orange" >22</span></td>
                                                        <td width="1" class="texte">|</td>       <td  width="17" height="15"   align="center"><span class="texte-orange" >23</span></td>
                                                        <td width="1" class="texte">|</td>       <td  width="17" height="15"   align="center"><span class="texte-orange" >24</span></td>
                                                        <td width="1" class="texte">|</td>       <td  width="17" height="15"   align="center"><span class="texte-orange" >25</span></td>
                                                        <td width="1" class="texte">|</td></tr>
                                                    <tr height="1"></tr><tr>
                                                        <td width="1" class="texte">|</td>       <td  width="17" height="15"   align="center"><span class="texte-orange" >26</span></td>
                                                        <td width="1" class="texte">|</td>       <td  width="17" height="15"   align="center"><span class="texte-orange" >27</span></td>
                                                        <td width="1" class="texte">|</td>       <td  width="17" height="15"   align="center"><span class="texte-orange" >28</span></td>
                                                        <td width="1" class="texte">|</td>       <td  width="17" height="15"   align="center"><span class="texte-orange" >29</span></td>
                                                        <td width="1" class="texte">|</td>       <td  width="17" height="15"   align="center"><span class="texte-orange" >30</span></td>
                                                        <td width="1" class="texte">|</td>       <td  width="17" height="15"   align="center"><span class="texte-orange" >31</span></td>
                                                        <td width="1" class="texte">|</td>       <td width="15" height="15" align="center">&nbsp;</td>
                                                    </tr></table><table bgcolor="#F2F3F4" width="169" border=0>
                                                    <tr>
                                                        <td width="30" align="center"><a href="?mois=11&annee=2016"><img src="http://www.pleyber-christ.fr/medias/images/www/structure/fleche_gauche.gif" width="15" height="9" border="0" alt="Mois précédent"></a></td>
                                                        <td width="109" align="center"><a href="http://www.pleyber-christ.fr/actualite/index_agenda.php?mois=12&annee=2016" ><span class="texte">Tout le mois</span></a></td>
                                                        <td width="30"  align="center"><a href="?mois=1&annee=2017"><img src="http://www.pleyber-christ.fr/medias/images/www/structure/fleche_droite.gif" width="15" height="9" border="0" alt="Mois suivant"></td>
                                                                </tr>
                                                                </table><br></td></tr></table><br>
                                                            </td><td width="17" ></td>
                                                        <td width="520" valign="top">
                                                            <table width="520" border="0" cellspacing="0" cellpadding="0">
                                                                <tr>
                                                                    <td  width="250" valign="top"><p style="text-align: center;"><font class="titre-page">MEDIATHEQUE</font></p>
                                                                        <div><b>Horaires d&rsquo;ouverture :<br />
                                                                            </b></div>
                                                                        <p>* Le mardi&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;de 10h00 &agrave; 12h00<br />
                                                                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; de 16h30 &agrave; 18h30 <br />
                                                                            * Le&nbsp;mercredi&nbsp;&nbsp;de 10h00 &agrave; 12h00<br />
                                                                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;de 13h30 &agrave; 18h30<br />
                                                                            * Le jeudi&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;r&eacute;serv&eacute; aux &eacute;coles et&nbsp;<br />
                                                                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;aux groupes<br />
                                                                            * Le vendredi&nbsp; de 16h30 &agrave; 18h30<br />
                                                                            * Le samedi&nbsp;&nbsp;&nbsp;&nbsp;de 10h00 &agrave; 12h00<br />
                                                                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; de 13h30 &agrave; 15h30<br />
                                                                            <br />
                                                                            <strong>L'&eacute;quipe de la M&eacute;diath&egrave;que, c'est</strong> :</p>
                                                                        <div>&nbsp;</div>
                                                                        <div>2 salari&eacute;s et une dizaine de b&eacute;n&eacute;voles &agrave; votre &eacute;coute et &agrave; votre service.</div>
                                                                        <div>&nbsp;</div>
                                                                        <div>&nbsp;</div>
                                                                        <div style="text-align: center"><img alt="" src="http://www.pleyber-christ.fr//medias/images/www/contenu/mediatheque 2010 2.jpg" width="220" height="147" border="1" /></div>
                                                                        <div>&nbsp;</div>
                                                                        <div>&nbsp;</div>
                                                                        <div align="left"><strong>T&eacute;l&nbsp;<br />
                                                                            </strong>02.98.78.49.27<br />
                                                                            <a href="mailto:mediatheque.pleyber@orange.fr">mediatheque.pleyber@orange.fr</a><br />
                                                                            <br />
                                                                            <strong>Adresse<br />
                                                                            </strong>Porz Ruz<br />
                                                                            29410 Pleyber-Christ</div>
                                                                        <div><br />
                                                                            &nbsp;</div>
                                                                        <div>Avec plus de 10000 ouvrages, la m&eacute;diath&egrave;que met &agrave; votre disposition un outil culturel ouvert &agrave; tous qui permet de contribuer aux loisirs, &agrave; l&rsquo;information, &agrave; l&rsquo;&eacute;ducation, &agrave; la formation et &agrave; la culture pour tous. La consultation sur place des livres et p&eacute;riodiques est libre et gratuite.&nbsp;<br />
                                                                            <br />
                                                                            La biblioth&egrave;que est constitu&eacute;e de diff&eacute;rents espaces.&nbsp;<br />
                                                                            <br />
                                                                            <strong>Un espace adulte :</strong>&nbsp;<br />
                                                                            * 3000 romans (dont 200 gros caract&egrave;res, 1900 policiers)<br />
                                                                            *&nbsp;210 ouvrages du fonds &quot;v&eacute;cu&quot; (t&eacute;moignages et biographies)<br />
                                                                            * 1125 BD<br />
                                                                            * Un fonds breton de 450 ouvrages (Ha levrio&ugrave; e brezhoneg evit bugaled)<br />
                                                                            * 1400 documentaires qui recouvrent tous les domaines encyclop&eacute;diques des connaissances&nbsp;<br />
                                                                            <br />
                                                                            <br />
                                                                            <br />
                                                                            &nbsp;</div>
                                                                        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p></td>
                                                                    <td  width="20">&nbsp;</td>
                                                                    <td  width="250" valign="top"><p><strong>Un espace enfant :&nbsp;</strong><br />
                                                                            * 820 albums<br />
                                                                            * 6 abonnements &agrave; des magazines<br />
                                                                            * 1050 romans<br />
                                                                            * 680 documentaires</p>
                                                                        <p><strong>Un espace &quot;p&eacute;riodiques&quot; :</strong><br />
                                                                            * 9 abonnements &agrave; des magazines<br />
                                                                            * 3 abonnements &agrave; des quotidiens<br />
                                                                            * Espace de lecture (consultation sur place)<br />
                                                                            <br />
                                                                            <strong>Un espace cin&eacute;ma de 380 DVD<br />
                                                                                <br />
                                                                                Un espace musical de 760 CD<br />
                                                                                <br />
                                                                                Un espace de recherche</strong> <strong>documentaire</strong> gr&acirc;ce au catalogue num&eacute;rique du fonds de la m&eacute;diath&egrave;que, mis &agrave; disposition des lecteurs.<br />
                                                                            <br />
                                                                            <strong>Divers espaces de travail</strong> sur place.<br />
                                                                            <br />
                                                                            <br />
                                                                            &nbsp;</p>
                                                                        <div align="center">
                                                                            <div class="contenaire_photo">
                                                                                <p align="center"><img alt="Photo : votre description de l&rsquo;image" src="http://www.pleyber-christ.fr//medias/images/www/contenu/mediatheque 2010 1.jpg" width="220" height="147" border="1" /></p>
                                                                            </div>
                                                                        </div>
                                                                        <div align="center">&nbsp;</div>
                                                                        <p><br />
                                                                            Pour recevoir&nbsp;les news de la m&eacute;diath&egrave;que, (fermetures, animations...) &ecirc;tre pr&eacute;venu en temps r&eacute;el de l'arriv&eacute;e de votre r&eacute;servation, envoyez nous&nbsp;votre adresse Mail &agrave; l'adresse suivante :&nbsp;<a href="mailto:mediatheque.pleyber@orange.fr">mediatheque.pleyber@orange.fr</a></p>
                                                                        <p>Vous ne trouvez pas chez nous le livre,&nbsp;DVD, CD que vous recherchez, consultez le catalogue de la&nbsp;biblioth&egrave;que du Finist&egrave;re en cliquant sur le lien ci dessous et&nbsp;nous le r&eacute;serverons :&nbsp;</p>
                                                                        <p><a href="http://biblio-finistere.cg29.fr/medias/medias.aspx?INSTANCE=EXPLOITATION">Biblioth&egrave;que du Finist&egrave;re</a></p>
                                                                        <p><a href="http://www.mediatheque-pleyber-christ.fr">Portail de la M&eacute;diath&egrave;que</a></p>
                                                                        <p style="text-align: center;">&nbsp;</p>
                                                                        <p><br />
                                                                            <br />
                                                                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p></td>
                                                                <tr></table>
                                                            </tr></table>
                                                            <br />	
                                                            <br />	 	
                                                            <table width="778" border="0" align="center" cellpadding="0" cellspacing="0" background="http://www.pleyber-christ.fr/medias/images/www/structure/contenu_5.gif">	  	
                                                                <tr>		
                                                                    <td width="219" rowspan="2"><img src="http://www.pleyber-christ.fr/medias/images/www/structure/contenu_4.gif" width="219" height="43" /></td>		 	
                                                                    <td>&nbsp;</td>			  	
                                                                </tr>	  	
                                                                <tr>	 	
                                                                    <td height="29" class="bas_de_page">Mairie - Square Anne de Bretagne - 29410 Pleyber-Christ<br>Tél : 02 98 78 41 67 | Mail : <a href="mailto:pleyber.christ-mairie@wanadoo.fr">pleyber.christ-mairie@wanadoo.fr</a></td>		 	
                                                                </tr>		
                                                            </table>		 	
                                                            <table width="778" border="0" align="center" cellpadding="0" cellspacing="0">	  	
                                                                <tr>		
                                                                    <td width="219" rowspan="2"></td>		 	
                                                                    <td>&nbsp;</td>			  	
                                                                </tr>	  	
                                                                <tr>	 	
                                                                    <td height="29"><p align="right"><a href="http://www.evernet.fr">Création site internet Morlaix</a><br>&nbsp;&nbsp;&nbsp;par <a href="http://www.evernet.fr">evernet.fr, agence internet</a></p></td>		 	
                                                                </tr>		
                                                            </table>		 	
                                                            </body>
                                                            </html>	 
