<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Pleyber-Christ{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    <link rel="stylesheet" href="../css/style.css" media="screen">
</head>
<body>
    {% block navbar %}
        <div id="logo"><a href="http://www.pleyber-christ.fr"><img src="http://www.pleyber-christ.fr/medias/images/www/structure/contenu_logo_pleyber.gif" alt="Pleyber-Christ  - Logo"/></a> 
        </div>

        <div>
            <ul id ="homeNavBar">
                <li><a class="itemNavbar" href="#">Cadre de vie</a></li>
                <li><a class="itemNavbar" href="#">Vie municipale</a></li>
                <li><a class="itemNavbar" href="#">Vie locale et sociale</a></li>
                <li><a class="itemNavbar" href="#">Vie associative et culturelle</a></li>
                <li><a class="itemNavbar" href="#">Liens</a></li>
                <li><a class="itemNavbar" href="#">Economie</a></li>
                <li class="logButtons"><a class="itemNavbar" href="/catalogue">Consulter le catalogue</a></li>
                <li class="logButtons"><a class="itemNavbar" href="#">Se connecter</a></li>
                <li class="logButtons"><a class="itemNavbar" href="#">S'inscrire</a></li>               
            </ul>
        </div>
    {% endblock %}
    
    {% block body %}{% endblock %}
    
    
    {% block footer %}
        
        <div id ="footer">Mairie - Square Anne de Bretagne - 29410 Pleyber-Christ<br/> Tél : 02 98 78 41 67 | Mail : <a href="mailto:pleyber.christ-mairie@wanadoo.fr">pleyber.christ-mairie@wanadoo.fr</a></div>   
    
    {% endblock %}
    
{% block javascripts %}{% endblock %}
</body>
</html>
